/* AddBlog.css */

.add-title {
  margin: auto;
  text-align: center;
  font-size: 2rem;
  color: #000;
  padding-top: 15px;
}

.add-blog-body,
.edit-blog-body {
  background-color: #b0b0b0b2;
  background-position: bottom;
  padding-top: 16px;
  height: 100vh;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 5px;
}

.form-group-tags {
  color: #000;
}

.input-box {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #eee;
  opacity: 90%;
}

.input-box:focus {
  opacity: 100%;
}

.examples {
  display: inline;
  font-size: 0.8rem;
  color: #606060;
}

.textarea {
  height: 150px;
  resize: none;
  overflow-y: auto;
}

.add-button {
  display: block;
  align-self: center;
  padding: 12px 24px;
  font-size: 1.2rem;
  color: #eee;
  background-color: #007fff;
  opacity: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  opacity: 100%;
  background-color: #0056b3;
}

.success-message {
  display: block;
  align-self: center;
  font-size: 1.2rem;
  background-color: #ffffff96;
  border: none;
  border-radius: 5px;
  width: fit-content;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .add-blog-body,
  .edit-blog-body {
    height: auto;
  }

  .form-group label {
    color: #000000;
    font-size: 1rem;
  }

  .input-box {
    width: 93%;
    padding: 8px;
  }

  .add-button {
    padding: 8px 16px;
    font-size: 1rem;
  }
}
