/* AddBlog.css */

.add-blog-body {
  background-image: url('../../public/AddBlogBg.jpg');
  background-size: 135%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 5px;
}

.form-group-tags {
  color: #333;
}

.input-box {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.examples {
  display: inline;
  font-size: 0.8rem;
  color: #929292;
}

.textarea {
  height: 150px;
  resize: none;
  overflow-y: auto;
}

.add-button {
  display: block;
  align-self: center;
  padding: 12px 24px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #007fff;
  opacity: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  opacity: 100%;
  background-color: #0056b3;
}

.success-message {
  display: block;
  align-self: center;
  font-size: 1.2rem;
  background-color: #ffffff96;
  border: none;
  border-radius: 5px;
  width: fit-content;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
