/* FullBlog.css */

.comment-list {
  list-style: none;
  padding: 0;
}

.comment-content {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.no-comments {
  font-style: italic;
  color: #777;
}

.add-comment-container {
  margin-top: 20px;
}

.add-comment-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
}

.add-comment-container button {
  padding: 8px 16px;
  background-color: #007fff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.add-comment-container button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .comment-list {
    font-size: 0.85rem;
  }

  .comment-content {
    padding: 7px;
    border-radius: 6px;
  }

  .add-comment-container input {
    padding: 6px;
    width: 94.5%;
  }

  .add-comment-container button {
    padding: 6px 12px;
    margin-top: 5px;
    margin-left: 0;
  }
}

.edit-button {
  color: gray;
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

.edit-button:hover {
  transform: scale(1.1);
}

.delete-button {
  color: red;
  cursor: pointer;
  float: right;
}

.delete-button:hover {
  transform: scale(1.1);
}
